<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Food Delivery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" id="navbar-items">
                <!-- Common navigation items -->
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/dishes">Dishes</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurants">Restaurants</a></li>
                <!-- Role-specific items will be inserted here -->
                <!-- Login/Sign Up or Logout will be inserted dynamically -->
            </ul>
        </div>
    </div>
</nav>