<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery Service</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <%- include('./partials/navbar') %>

        <section id="order" class="py-5">
            <div class="container">
                
                <div class="modal-body">
                    <img src="" style="width: 100%;" alt="Dish Image" class="dish-image" id="modalDishImage">
                    <h3 class="mt-3" id="modalDishName">Dish Name</h3>
                    <p id="modalDishDescription">Description of the dish goes here.</p>
                    <p><strong>Price:</strong> <span id="modalDishPrice">Price</span></p>
                    <p><strong>Ingredients:</strong> <span id="modalDishIngredients">List of ingredients</span></p>
                    <p><strong>Restaurant:</strong> <span id="modalRestaurantName">Restaurant Name</span></p>
                </div>
                
                <div class="modal-bottom mt-5">
                    
                    <h5>Drop a message for the chef</h5>
                    <textarea name="message" class="w-100" id="note"></textarea>
                </div>
                
                <div class="d-flex justify-content-between mt-3">
                    <div class="d-flex align-items-center">
                        <h5>Quantity: </h5>
                        <input class="form-control ms-5 text-center" id="quantity" style="width: 5rem;" value="1" type="number">
                    </div>
                    <button class="btn btn-dark rounded-pill add-btn" data-id="" >Add to cart</button>
                </div>
            </div>
        </section>

        <!-- Include Google Maps JavaScript API -->


        <!-- Footer -->
        <footer class="bg-dark text-white py-4">
            <div class="container text-center">
                <p>&copy; 2024 Food Delivery Service. All rights reserved.</p>
                <p>Follow us on:
                    <a href="#" class="text-white">Facebook</a> |
                    <a href="#" class="text-white">Instagram</a> |
                    <a href="#" class="text-white">Twitter</a>
                </p>
            </div>
        </footer>

        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="../js/api.js"></script>
</body>

</html>

